.input-add-field {
  margin: 5px;
  padding: 5px;
  outline: none;
  width: 180px;
  border: 1px solid #d3d3d3;
}
.input-add-field:hover {
  border-color: #00aeef !important;
}

.label-name {
  padding: 5px;
  width: 30%;
}

.input-form {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 5px;
  width: 40%;
  font-size: 12pt;
  justify-content: space-between;
}
.color-red {
  color: red;
  padding: 5px;
}
.btn-add {
  border: 1px solid #00aeef00;
}
.btn-add:hover {
  background-color: #00aeef20;
  border: 1px solid #00aeef;
}
